{% extends "Pagelayout.html.twig" %}

{% block header %}
<nav class="nav">
  <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
  <a class="nav-link" href="?controller=utilisateur&action=listUsers">Gestion des utilisateurs</a>
  <a class="nav-link" href="?controller=utilisateur&action=logout">logout</a>
</nav>
{% endblock %}
{% block body %}


    
{% endblock %}
{% block footer %}

{% endblock %}