{% extends "Pagelayout.html.twig" %}

{% block header %}
{% endblock %}
{% block body %}
<section class="vh-100 bg-image"
  style="background-image: url('https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1585x749:1587x747)/origin-imgresizer.eurosport.com/2017/10/23/2193314-45823610-2560-1440.jpg');">
<style>
  .gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  .gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  background-size: cover;
  background-position: center;
  }
</style>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5"> S'inscrire </h2>

              <form  action="?controller=utilisateur&action=createValid" method="post" name="create">
                <input type="hidden" value="par defaut" name="observation">
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="nom" value=""/>
                  <label class="form-label" for="form3Example1cg">Nom</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="prenom" value=""/>
                  <label class="form-label" for="form3Example1cg">Prenom</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="login" value=""/>
                  <label class="form-label" for="form3Example1cg">login</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" name="mail" value=""/>
                  <label class="form-label" for="form3Example3cg">Votre e-mail</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="password" value=""/>
                  <label class="form-label" for="form3Example4cg">Mot de Passe</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" name="passwordVerifi" value=""/>
                  <label class="form-label" for="form3Example4cdg">Repeter votre mot de passe</label>
                </div>
                {% if message is defined %}
                  <div id="passwordIn" class="text-danger">
                    {{message}}
                  </div>
                {% endif %}

                {% if msg is defined %}
                  <div id="errerDeRemplissage" class="text-danger">
                    {{msg}}
                  </div>
                {% endif %}

                
                <div class="d-flex justify-content-center">
                  <button type="submit" name="valider"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">inscrire</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Avez-vous dèjà un compte? Cliquez ici pour se <a href="?controller=utilisateur&action=connect"
                    class="fw-bold text-body"><u>Connecter</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    {# <section class="inscrire">
        <form action="?controller=utilisateur&action=createValid" method="post" name="create">
            <input type="hidden" value=0 name="observation">
            <input type="hidden" value=0 name="active">
            <input type="text"  class="form-control" name="nom" value="" placeholder="nom" aria-label="Username" aria-describedby="basic-addon1">
            </br>
            <input type="text" class="form-control" name="prenom" value="" placeholder="prenom">
            </br>
            <input type="text" class="form-control" name="login" value="" placeholder="login">
            </br>
            <input type="text" class="form-control" name="mail" value="" placeholder="Votre e-mail">
            </br>
            <input type="password" class="form-control" name="password" value="" placeholder="password">
            </br>
           {# <textarea class="form-control" placeholder="observation"name="observation" id="floatingTextarea2" style="height: 100px"></textarea>
            </br>
            <input type="submit" class="btn btn-primary" value="Valider" name="valider">
    </section> #}
{% endblock %}
{% block footer
 %}{% endblock %}