{% extends "Pagelayout.html.twig" %}

{% block header %}
<h1>S'inscrire</h1>
{% endblock %}
{% block body %}
    <section class="inscrire">
        <form action="?controller=utilisateur&action=createValid" method="post" name="create">
            <input type="hidden" value=0 name="observation">
            <input type="hidden" value=0 name="active">
            <input type="text" value""  class="form-control" name="nom" placeholder="nom" aria-label="Username" aria-describedby="basic-addon1">
            </br>
            <input type="text" value"" class="form-control" name="prenom" placeholder="prenom">
            </br>
            <input type="text" value=""class="form-control" name="login" placeholder="login">
            </br>
            <input type="password" value="" class="form-control" name="password" placeholder="password">
            </br>
           {# <textarea class="form-control" placeholder="observation"name="observation" id="floatingTextarea2" style="height: 100px"></textarea>
            </br>#}
            <input type="submit" class="btn btn-primary" value="Connect" name="">
    </section>
{% endblock %}
{% block footer
 %}{% endblock %}