<!DOCTYPE html>
<html>
<head>
    <title>PPE</title>
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/home.css" rel="srylesheet">
    <link href="public/css/default.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>connection</title>
    <meta charset="utf-8" />
</head>
<body>

{% block body %}
    <div class="login">
        <section>
            <form action="?controller=utilisateur&action=connect" method="post" name="login">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 17 18">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg></br><input type="text" value="" name="login" placeholder="login"></br>
                 </br>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2-fill" viewBox="-0 0 16 16">
                    <path d="M7 6a1 1 0 0 1 2 0v1H7V6z"/>
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 6v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0z"/>
                </svg></br><input type="password" value="" name="password" placeholder=" Mots De Passe"></br>
                </br>
                <input type="submit" class="btn btn-outline-primary" id="btn-connect" value="Connect" name="">
            </form> 
            <a class="inscrit" href="?controller=utilisateur&action=create">S'inscrire</a>
        </section>
    </div>
    
{% block erreur %}{% endblock %}
{% endblock %}

</body>
</html>