<!DOCTYPE html>
<html>
<head>
    <title>PPE</title>
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/default.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        {% block header %}
        header par default
        {% endblock %}
    </header>

    <main>
        {% block body %}
        body par defaut
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        footer par defaut
        {% endblock %}
    </footer>
</body>
</html>